/* body {
background:url("https://i.pinimg.com/originals/61/79/ba/6179bac03a8f13857c55d90e3ceaf063.jpg");}
div{
    margin: 500px;
    border: 200px;
    text-align: center;
    position:flex;
   background: url(https://i.ytimg.com/vi/CvltMRiVNME/maxresdefault.jpg);
   

}
 */

.top{
    background-color: green;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 3px;
    padding: 10px;
}
.mid{
   background-color: greenyellow;
   
    width: 200px;
    height: 200px;
    margin: auto;
    border: 3px;
    padding: 10px;
}.bot{
    background-color: gray;
  
    width: 200px;
    height: 200px;
    margin: auto;
    border: 3px;
    padding: 10px;
}